# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_drafts/

# NPM
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Other files not to be included
_data/microphotos.json
_config.local.yml

# Content Types
_posts
_working_notes
_historic_posts
assets/images/posts
assets/photography
_pages
_photography

edwardjensen-net-jekyll.code-workspace