<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
{% if page.has_youtube_video %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.css" />
{% endif %}
<link rel="stylesheet" href="https://use.typekit.net/ylk0tvr.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script src="{{ '/assets/js/photo-gallery.js' | relative_url }}"></script>
<script src="//unpkg.com/alpinejs" defer></script>
{% if page.has_youtube_video %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lite-youtube-embed/0.3.3/lite-yt-embed.min.js"></script>
{% endif %}
{% include components/seo.html %}
