<div class="flex flex-row justify-between mt-5">
    {% if page.previous.url %}
    <div class="flex flex-col leading-none">
        <div class="italic">Previously...</div>
        <a href="{{ page.previous.url }}" class="font-semibold link-accent underline"><i class="ph ph-arrow-left"></i> {{ page.previous.title }}</a>
        </div>
    {% endif %}
    {% if page.next.url %}
    <div class="flex flex-col leading-none">
        <div class="italic">More recently...</div>
        <a href="{{ page.next.url }}" class="font-semibold link-accent underline">{{ page.next.title }} <i class="ph ph-arrow-right"></i></a>
    </div>
    {% endif %}
</div>